<p id="notice"><%= notice %></p>


<div class="card">
  <h2 class='card-header d-flex justify-content-between'>
      <span>Notes</span>
      <%= link_to 'Add Note', new_note_path, class: 'btn btn-primary' %>
    </h2>
  <div class="input-group">
    <div>
      <%= form_tag(notes_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search", class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag "Search", class: 'btn btn-default' %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="card-header" style="justify-content:center">
    <% @notes.each do |note| %>
    <div class='card-fancy'>
        <%= link_to note do %>
          <h2><%= note.title %></h2>
        <%end%>
    </div>
    <br>
    <% end %>
  </div>
</div>

<br>


