<p id="notice"><%= notice %></p>


<div class="card">
  <div class='card-header'>
    <h2 class='d-flex justify-content-between'>
        <span>Notes</span>
        <%= link_to 'Add Note', new_note_path, class: 'btn btn-primary' %>
      </h2>
      
      
      <%= form_tag :notes, method: :get, class: "search" do %>
        <%= text_field_tag "q", params[:q] %>
        <%= submit_tag "search"%>
      <% end %>

    
    <div class="card-header" style="justify-content:center">
      <% @notes.each do |note| %>
      <div class='card-fancy'>
        <div class='assignment'>
          <%= link_to note do %>
            <h2><%= note.title %></h2>
          <%end%>
        </div>
      </div>
      <br>
      <% end %>
    </div>
  </div>
</div>

<br>


