<h1>Assignments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Date</th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.name %></td>
    <td><%= assignment.description %></td>
    <td><%= assignment.status %></td>
    <td><%= assignment.date %></td>
    <td><%= link_to 'Show', [assignment.course, assignment] %></td>
    <td><%= link_to 'Edit', edit_course_assignment_path(assignment.course, assignment) %></td>
    <td><%= link_to 'Destroy', [assignment.course, assignment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_course_assignment_path(params[:course_id]) %>

<div class="card">
  <div class="card-header">
    
    <h2 class='card-title d-flex justify-content-between'>
      <span>Courses</span>
      <%= link_to 'Add Course', new_course_path, class: 'btn btn-primary' %>
    </h2>
    
    <% @assignments.each do |assignment| %>
      <%= link_to assignment do %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= assignment.name %></h5>
            <p><%= assignment.description %></p>
            <p><%= assignment.status %></p>
            <p><%= assignment.date %></p>
          </div>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
