<p id="notice"><%= notice %></p>

<%= link_to 'Back', course_path(@course), class:"btn btn-primary" %>
<div class="card">
  <div class="card-header">
    <h2>
      <%= @assignment.name %>
    </h2>
  
    <p>
      <%= @assignment.description %>
    </p>
  
    <div class="dropdown">
      <%= @assignment.status %>
    </div>
  
    <div>
      <%= @assignment.date.strftime("DUE AT: %I:%M %p") %>
    </div>
    
    <div class="topcorner">
      <%= link_to 'Edit', edit_course_assignment_path(@assignment.course, @assignment), class:"btn btn-outline-secondary" %> 
    </div>
  </div>
</div>




