<p id="notice"><%= notice %></p>

 

<div class='card'>
   <h1>Hello Welcome <%= current_user.email %></h1>
</div>
<br>

  <div class='card'>
    <h4 class='text-center'>How do you spend your time</h4>
    <%= pie_chart Note.group(:created_at).count %>
  </div>

  <br>
  <br>

  <div class="card">
    <div>
    <% if @courses %>
      <div class='container text-center'>
        <h2>Assignments</h2>
        <% @courses.each do |course| %>
            <% course.assignments.each do |assignment| %>
                <div class='card-fancy'>
                  <div class="row assignment">
                    <div class="column">
                      <%= course.name %> <br>
                      <%= assignment.name %>
                    </div>
        
                    <div class='column dropdown'>
                      <a class="btn btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <%= assignment.status %>
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Not Started</a>
                          <a class="dropdown-item" href="#">In progress</a>
                          <a class="dropdown-item" href="#">Completed</a>
                        </div>
                    </div>
          
                    <div class='column'>
                      <%= assignment.date.strftime("DUE AT: %I:%M %p") %>
                      <br>
                      <%= assignment.date.strftime("%b %d") %>
                    </div>
                    <div class='column'>
                        <div class='btn btn-primary start' id='mixBut' onclick="startCount()">
                          START
                        </div>
                        <div class='btn btn-danger stop' id='mixBut' onclick="stopCount()">
                          STOP
                        </div>
                        <p class='txt'></p>
                    </div>
                </div>
                <div class="topcorner">
                    <%= link_to 'Edit', edit_course_assignment_path(assignment.course, assignment), class:"btn btn-outline-secondary" %> 
                </div>
                </div>
          <% end %>
        <% end %>
      <br>
      <br>
      </div>  
      <% else %>
    <div class='container text-center'>
      <h2>Assignments</h2>
      <p>You have no assignments yet.</p>
    </div>
      <% end %>


    </div>
  </div>

<br>
<br>


<div class="card">
  <div>
  <div class='container text-center'>
    <h2>Notes</h2>
  <% if @notes %>
    <div class='card'>
    <% @notes.each do |note| %>
    <div class='card-fancy'>
      <%= link_to [note] do%>
          <div class='assignment'>
            <div class='text-center'>
              <h2><%= note.title %></h2>
            </div>
          </div>
      <% end %>
    </div>
    <% end %>
    </div>
    </div>
    <br>
    <br>
    <% else %>
    
    <div class='container text-center'>
      <p> You have no notes yet.</p>
    </div>
    <% end %>
  </div>
</div>

<br>


