<div>
<div>
    <%= link_to 'Back', courses_path, class: 'btn btn-primary topcorner' %>
    <p>
      <h1 class="card-title d-flex justify-content-between"><%= @course.name %> </h1>
    </p>
    <p>
      <strong><%= @course.description %></strong>
    </p>
</div>

<br>
<br>
<br>

<div>
<h2>Assignments</h2>
<%= link_to 'New Assignment', new_course_assignment_path(@course.id), class: 'btn btn-primary' %>



<% @course.assignments.each do |assignment| %>
  <% if assignment.persisted? %>
    <%= link_to [assignment.course,assignment] do%>
      <div class="card">
        <div class="row assignment">
          <div class="column">
            <%= assignment.name %>
          </div>
        
          <div class='column'>
            <%= assignment.status %>
          </div>
          
          <div class='column'>
            <%= assignment.date.strftime("DUE AT: %I:%M %p") %>
          </div>
        </div>
        <div class="topcorner">
            <%= link_to 'Edit', edit_course_assignment_path(assignment.course, assignment), class:"btn btn-outline-secondary" %> 
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
</div>




