<div>
<div>
  
    <%= link_to 'Back', url_for(:back), class: 'btn btn-primary' %>
    <center>
    <p>
      <h1><%= @course.name %> </h1>
    </p>
    <p>
      <strong><%= @course.description %></strong>
    </p>
    </center>
</div>

<br>
<br>
<br>

<div class='card'>
  <div class='card-header'>
    <h2>
      <span>Assignments</span>
      <%= link_to 'New Assignment', new_course_assignment_path(@course.id), class: 'btn btn-primary' %>
    </h2>
    
      <%= form_tag @assignment.course, method: :get, class: "search" do %>
        <%= text_field_tag "q", params[:q] %>
        <%= submit_tag "search"%>
      <% end %>

    <% @course.assignments.each do |assignment| %>
      <% if assignment.persisted? %>
        <%= link_to [assignment.course,assignment] do%>
          <div class="card-fancy">
            <div class="row assignment">
              <div class="column">
                <%= assignment.name %>
              </div>
            
              <div class='column'>
                <%= assignment.status %>
              </div>
              
              <div class='column'>
                <%= assignment.date.strftime("DUE AT: %I:%M %p") %>
              </div>
            </div>
            <%= link_to 'Edit', edit_course_assignment_path(assignment.course, assignment), class:"btn btn-outline-secondary topcorner" %> 
          </div>
          <br>
        <% end %>
      <% end %>
    <% end %>
    </div>
</div>
</div>




